# Python
*.pyc
*.pyo
__pycache__/
.venv/

# Django
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
__pycache__/

# Node.js
node_modules/
npm-debug.log

# Docker
*.db
*.env
*.tgz
*.zip

# IDE files
.vscode/


# Frontend dependencies
/windflow_frontend/node_modules
/windflow_frontend/.pnp
/windflow_frontend.pnp.js

# Frontend testing
/windflow_frontend/coverage

# Frontend production
/windflow_frontend/build

# Miscellaneous
/.DS_Store
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Django migration files
windflow_backend/*/migrations/*.py
windflow_backend/*/migrations/*.pyc
!windflow_backend/*/migrations/__init__.py  # Except __init__.py, which is needed for the migrations folder